---
layout: blog
title: Blog
permalink: /blog/
---

<div class="container mtb">
    <div class="row">

        <div class="col-lg-8">

            {% for post in site.categories['blog'] %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}" style = "width:100%">
                </a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date_to_string }}. | By: {% if page.author %} {{ page.author }} {% else %} {{ site.blog_name }}{% endif %}</csmall></p>
                <!-- {{ post.excerpt | truncatewords:75}} -->
                {{ post.excerpt | truncatewords: 1000 }}
                <!--more-->
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div>

        {% include sidebar.html %}

    </div>
</div>
