<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to showcase project and blog">
    <meta name="author" content="Alex Lewis (AceLewis)">
    <link rel="shortcut icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    {% include css-bundle.html %}

    <meta name="google-site-verification" content="dkY5hHDczo8XbJ3W6KTLpIhrdzOvw7oZRbdR8n1GJ-I" />
</head>
