<div id="blue">
    <div class="container">
        <div class="row">
            <h3>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h3>
            {% if page.title == 'Blog' %}
            <p style="margin-left:15px; margin-right:15px"><font color="white">My blog for long form content and my opinions. My snippets is for little things I want to share.</font></p>
            {% elsif page.title == 'Snippets' %}
            <p style="margin-left:15px; margin-right:15px"><font color="white">A place for snippets, trinkets and other little things I want to share.</font></p>
            {% endif %}
        </div>
    </div>
</div>
